*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(2, 27, 21);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.mainContainer{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border-radius: 1rem;
    width: 80%;
    height: 90%;
    font-size: 1.2rem;
    color: whitrgb(29, 26, 26);
    background: linear-gradient(130deg, rgb(2, 2, 2), rgb(62, 62, 63));
}

.tittleContainer{
    border-radius: 50%;
    border: 5px solid rgb(11, 151, 69);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittleHour{
    font-size: 2rem;
    font-weight: bold;
}

.button{
    background-color: rgb(34, 39, 37);
    padding: 5px;
    border-radius: 0.5rem;
    width: 7rem;
    text-align: center;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: rgb(15, 15, 15);
    transform: scale(1.01);
}

.buttonsStudy, .buttonsInterval{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#contentText{
    background-color: rgb(49, 48, 48);
    display: block;
}

.studyContent{
    font-size: 1rem;
}

.openSelect{
    background-color: rgb(22, 22, 22);
    border-radius: 0.6rem;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.select{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.select.visible{
    max-height: 500px;
    opacity: 1;
}

ul{
    list-style: none;
    background-color: rgb(27, 27, 29);
    border-radius: 0.6rem;
    padding: 10px;
}
li{
    padding: 5px;
    border-radius: 0.5rem;
    margin-inline: 5px;
}
li:hover{
    background-color: rgb(57, 57, 59);
}

@media (max-width: 900px){
    .buttonsStudy, .buttonsInterval{
        width: 80%;
    }
}

@media (max-width: 540px){
        .mainContainer{
            font-size: 0.9rem;
        }

        .text{
            width: 80%;
        }

        .buttonsStudy, .buttonsInterval{
            width: 90%;
            gap: 0.5rem;
        }
    
}

